body {
    background-color: #235723;
    background-image: url('../images/forest-background.jpg');
    background-size: cover;
    /* background-repeat: no-repeat; */
    margin: 0px;
    padding: 0px;
}

header {
    /* display: flex; */
    /* justify-content: center; */
    text-align: center;
    background-color: #235723;
    width: 100%;
    padding: 5px;
}

h1 {
    font-size: 64px;
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
    color: white;
    margin: 0px; 
}

#score {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    flex: 1;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* .scoreHolder {
    
} */
.playerName {
    background-color: #235723;
    text-align: center;
    padding: 10px 0 10px 0;
    border: 5px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    font-size: 35px;
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.scoreKeep {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 5px;
    border-style: solid;
    border-color: black;
    background-color: #686767;
    border-radius: 5px;
    padding: 30px;
}
.scoreDisplay {
    font-size: 58px;
    margin: 20px;
    padding-left: 15px;
    padding-right: 15px;
}
.scoreCard {
    border: 5px;
    border-style: solid;
    border-color: black;
    background-color: #686767;
    color: white;
    border-radius: 5px;;
    text-align: center;
    margin-top: 10px;
    padding-top: 0.5px;
    padding-bottom: 0.5px;
}
#resetButton {
    font-size: 24px;
    padding-left: 20px;
    padding-right: 20px;
}
.addScoreBtn {
    border: 5px;
    border-style: solid;
    border-color: black;
    padding: 15px 60px 15px 80px;
    font-size: 25px;
    border-radius: 5px;
    /* margin-left: 60px; */
    margin-top: 15px;
    background-color: #235723;
    color: white;
}
.addScoreHolder {
    margin-top: 15px;
    padding-bottom: 20px; 
    background-color: #235723;
}
.plus {
    background-color: rgb(145, 250, 145);
}
.minus {
    background-color: rgb(230, 102, 102);
}
#reset {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
}

footer {
    text-align: center;
    background-color: #235723;
    color: white;
    width: 100%;
    padding: 5px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 0;
}

ul {
    list-style-type: none;
    margin-right: 30px;
    display: inline;
}
.footerList {
    display: inline;
    padding: 10px;
}
a {
    text-decoration: none;
    color: inherit;
}
#footerName {
    margin-left: 30px;
}