body {
    background-color: #235723;
    background-image: url('../images/forest-background.jpg');
    background-size: cover;
    /* background-repeat: no-repeat; */
    margin: 0px;
    padding: 0px;
}

header {
    /* display: flex; */
    /* justify-content: center; */
    text-align: center;
    background-color: #235723;
    width: 100%;
    padding: 5px;
}

h1 {
    font-size: 64px;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    margin: 0px; 
}

#score {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    flex: 1;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* .scoreHolder {
    
} */
.playerName {
    background-color: #235723;
    text-align: center;
    padding: 10px 0 10px 0;
    border-radius: 5px;
    font-size: 35px;
    text-shadow: -0.5px 0 white, 0 0.5px white, 0.5px 0 white, 0 -0.5px white;
}

.scoreKeep {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #686767;
    border-radius: 5px;
    padding: 30px;
}
.scoreDisplay {
    font-size: 58px;
    margin: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

button {
    font-size: 24px;
    padding-left: 20px;
    padding-right: 20px;
}

.plus {
    background-color: rgb(145, 250, 145);
}
.minus {
    background-color: rgb(230, 102, 102);
}
#reset {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
}

footer {
    text-align: center;
    background-color: #235723;
    width: 100%;
    padding: 5px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
}

ul {
    list-style-type: none;
    margin-right: 30px;
    display: inline;
}
li {
    display: inline;
    padding: 10px;
}
a {
    text-decoration: none;
    color: inherit;
}
#footerName {
    margin-left: 30px;
}