body {
    background-color: #235723;
    background-image: url('../images/forest-background.jpg');
    background-size: cover;
    margin: 0px;
    padding: 0px;
}

header {
    /* display: flex; */
    /* justify-content: center; */
    text-align: center;
    background-color: #235723;
    width: 100%;
    padding: 5px;
}

h1 {
    font-size: 64px;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    margin: 0px; 
}

#score {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px;
}

.scoreKeep {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #686767;
    border-radius: 5px;
    padding: 30px;
}

h3 {
    font-size: 58px;
    margin: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

button {
    font-size: 24px;
    padding-left: 20px;
    padding-right: 20px;
}

.plus {
    background-color: rgb(145, 250, 145);
}
.minus {
    background-color: rgb(230, 102, 102);
}